@*<h3>EditDeleteButtonComponent</h3>
*@
@code {

   
}
 <input type="button" class="btn btn-danger" value="Sil"/>
    <input type="button" class="btn btn-warning" value="Güncelle"/>
    <input type="button" class="btn btn-success" value="Kaydet"/>